main{
    display: flex;
    height: 100%;
}
.dashboardContent{
	margin: 50px 100px;
}
.lineChart {
    background-color: #E60000;
	position: relative;
    width: 268px;
	height: 253px;
    border-radius: 5px;
}

.sessionsTitle {
    width: 60%;
    font-size: 15px;
	line-height: 24px ;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 34px;
	top: 29px
}

.tooltip{
	background-color: white;
	padding: 1px 7px 1px 7px;
}

.tooltipText{
	font-size: 12px;
}
.secondaryCharts{
    display: flex;
    justify-content: space-between;
}
