main{
    display: flex;
    height: 100%;
}
.dashboardContent{
	margin: 50px auto;
}
.secondaryCharts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.charts{
    display: flex;
    justify-content: space-between;
}
.wrapper{
    display: flex;
    align-content: space-between;
}
.macroContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 31px;
}

@media screen and (max-width:1400px) {
    .macroContainer{
       flex-direction: row; 
       margin-left: 0;
       margin-top: 24px;
    }
    .wrapper{
        flex-direction: column;
        justify-content: space-between;
    }
    .dashboardContent{
        margin: auto;
    }

}